<div class="login-page">
  <div class="form">
    <h5 class="simple-text logo-normal">
      <img src="./assets/img/logo-hulk.png" style="height: 80px; width: 100px;"><br>
      <b class="text-success">HULK STORE</b>
    </h5>
    <hr>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="username" placeholder="Username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" required />

      <input type="text" formControlName="email" placeholder="Email"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />

      <input type="password" formControlName="password" placeholder="Password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required />

      <input type="password" formControlName="confirmPassword" placeholder="Confirm password"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" required />

        <button type="submit" [disabled]="loading" class="btn btn-success">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Create
      </button>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
      <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
    </form>
  </div>
</div>